.footer {
    position: relative;
    z-index: -1;

    @include tablet {
        z-index: 0;
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../images/footer-bg.webp") no-repeat center / cover;
        background-attachment: fixed;
    }

    &__group {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding: 80px 36px 34px;
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.3);

        @include tablet {
            padding: 90px 30px 45px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding-bottom: 33px;
        border-bottom: 1px solid $color-white;

        &-title {

            strong {
                font-size: 112px;
                font-family: "Tobias";
                font-weight: 300;
                line-height: .868852;

                @include pc1300 {
                    font-size: 90px;
                }

                @include tablet {
                    font-size: clamp(36px, 8vw, 90px);
                }
            }
        }

        &-schedule {
            width: 134px;
            height: 134px;
            border-radius: 50%;
            background-color: $color-orange;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            margin-top: 30px;

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: $color-white;
                position: absolute;
                transition: width .4s, height .4s;
            }

            button {
                color: $color-white;
                font-size: 12px;
                position: relative;
                z-index: 1;
                transition: color .4s;
            }

            &:hover {
                &::before {
                    width: 100%;
                    height: 100%;
                }

                button {
                    color: $color-black;
                }
            }
        }

        &-desc {
            max-width: 618px;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;

            @include pc1300 {
                max-width: 500px;
            }

            @include pc1300 {
                font-size: 14px;
            }

            @include tablet {
                max-width: 100%;
                font-size: clamp(12px, 3vw, 36px);
            }
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 18px;
        font-size: 12px;
        line-height: 1.23077;

        @include tablet {
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: clamp(12px, 3vw, 24px);
            gap: 38px;
        }
    }

    [class*="col"] {
        display: flex;
        align-items: flex-start;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }

    .col-left {
        gap: 120px;

        @include pc1300 {
            gap: 60px;
        }
    }

    .col-right {
        gap: 78px;

        @include pc1300 {
            gap: 39px;
        }
    }

    &__address,
    &__contact,
    &__info {
        max-width: 192px;

        @include tablet {
            max-width: 470px;
            display: flex;
            flex-direction: column;
        }
    }

    &__contact {
        span {
            font-size: 9px;
            line-height: 1.27;
        }
    }

    &__info,
    &__bemine,
    &__small {
        display: flex;
        flex-direction: column;
    }

    &__bemine {

        a {
            margin-left: -2px;
            margin-top: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            max-width: 84px;
            transition: transform .4s ease-in-out;

            &:hover {
                transform: scale(.84);
            }

            @include tablet {
                width: 20vw;
                max-width: 150px;
                min-width: 84px;
            }
        }
    }
}